.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Verdana', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

/* */

.titulo-producto {
  text-align: center;
  font-family: 'Verdana', serif;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 25px;
}

@media (min-width: 768px) {
  .titulo-producto {
    font-size: 40px;
  }
}

.d-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.autos-tarjetas {
  margin: 20px auto;
  width: 80%;
}

/* */

.img-login {
  width: 60%;
  margin-bottom: 80px;
}

@media (min-width: 768px) {
  .img-login {
    width: 40%;
  }
}

.formIngreso {
  display: grid;
  font-family: 'Verdana', serif;
  border: #f09100 3px solid;
  border-radius: 10px;
  padding-top: 30px;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .formIngreso {
    width: 50%;
  }
  
}

.formIngreso h2 {
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 20px;
  font-weight: bold;
}

.formIngreso .seccionLogin {
  display: grid;
  grid-template-columns: 100%;
}

.formIngreso .camposLogin {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.formIngreso .Recuerdame {
  margin: 10px auto;
}

.formIngreso .Recuerdame input {
  margin-right: 5px;
}

.formIngreso .botonLogin{
  display: flex;
  justify-content: center;
  align-items: center;
}

.botonLogin input {
  text-align: center;
  width: 60%;
  color: white;
  background-color: #f09100;
  border: 1px solid #000000;
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 6px;
}

.botonLogin input:hover {
  cursor: pointer;
  background-color: #ffb23f;
  color: #000000;
}

.redireciones{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px 0 15px 0;
}

.redireciones a {
  margin-top: 10px;
  text-decoration: none;
  color: #000000;
  font-size: 15px;
}

.redireciones a:nth-child(1) {
  margin-bottom: 10px;
}

/* */

.JAP-FOOTER-LOGIN {
  margin: 0 auto;
  text-align: center;
}

.perfil-container {
  max-width: 800px;
  margin: 25px;
  padding: 20px;
  background-color: #f8eee3;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: 'Verdana', serif
}

.perfil-foto {
  width: 180px;
  height: 200px;
  padding: 5px;
  border-radius: 15%;
  object-fit: cover;
  margin-bottom: 40px;
}

.perfil-nombre {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.perfil-info {
  font-size: 15px;
  margin-bottom: 25px;
}

.perfil-boton {
  padding: 10px 20px;
  background-color: #e97d03;
  color: white;
  border: none;
  border-radius: 10px;
}
.perfil-boton {
  padding: 10px 20px;
  background-color: #f18406;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.perfil-boton:hover {
  background-color: #f1942a;
  color: black;
}

.idioma-container {
  display: flex;
  padding: 0px 0px 5px 0px;
}

.pais-container {
  display: flex;
  color: black;
  padding: 0px 0px 5px 0px;
}

label {
  margin-right: 10px;
}

select {
  padding: 5px;
}

/* */

.imgPerfil {
  height: 30px;
  width: 35px;
}
